{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static "groups/css/group_list.css" %}">
{% endblock css %}


{% block content %}
<div class="container">
    {% if groups %}
    <h1>Доступные группы</h1>
    <div class="groups-list">
        {% for group in groups %}
        <div class="group-card">
            <img src="{{ group.cover_image.url }}" alt="{{ group.name }}" class="group-image">
            <div class="group-content">
                <h2 class="group-title">{{ group.name }}</h2>
                <p class="group-info"><strong>Admin:</strong> {{ group.owner.username }}</p>
                <p class="group-info"><strong>Date:</strong> {{ group.created_at|date:"Y-m-d" }}</p>
                <p class="group-description">{{ group.description|truncatewords:20 }}</p>
                <a href="{% url "groups:group_detail" group.slug %}" class="group-view-button">View</a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <h1>Здесь пока ничего нету</h1>
    {% endif %}
</div>
{% endblock content %}


{% block sidebar %}
<aside class="sidebar">
    <ul class="opciones">
        <li><a href="{% url "groups:create_group" %}">Создать новую группу</a></li>
        <li><a href="{% url "groups:add_post" %}">Создать пост</a></li>
    </ul>
</aside>
{% endblock sidebar %}