{% extends "base.html" %}
{% load static %}



{% block css %}
<link rel="stylesheet" href="{% static "groups/css/group_detail.css" %}">
{% endblock css %}



{% block content %}
<div class="container">
    <div class="group-header">
        <img src="{{ group.cover_image.url }}" alt="{{ group.name }}" class="group-image">
        <div class="group-details">
            <h1 class="group-title">{{ group.name }}</h1>
            <p class="group-info"><strong>Админ:</strong> {{ group.owner.username }}</p>
            <p class="group-info"><strong>Дата:</strong> {{ group.created_at|date:"Y-m-d" }}</p>
        </div>
    </div>
    <div class="group-description">
        <p>{{ group.description }}</p>
    </div>
    <div class="group-members">
        {% if members %}
        <h2>Members</h2>
        <ul class="member-list">
            {% for member in members %}
            <li class="member-item"><a href="{% url "users:user_profile" member.user.username %}">{{ member.user.username }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <h2>Здесь пока никого нету</h2>
        {% endif %}
    </div>
    {% if has_posts %}
    <a href="{% url 'groups:group_posts' group.slug %}" class="group-posts-link">View Posts</a>
    {% else %}
    {% if request.user == group.owner %}
    <a href="#">Добавить пост</a>
    {% else %}
    <p>На данный момент в этой группе постов нету</p>
    {% endif %}
    {% endif %}
    
</div>
{% endblock content %}



{% block sidebar %}{% endblock sidebar %}